# Configuration for the `tools` subcommand
tools:
  - name: wut
    url: https://github.com/insomniacslk/wut
  - name: lol
    url: https://github.com/insomniacslk/lol

# Configuration for the `omg` subcommand
omg:
  template: ~/.config/sre/omg.template
